body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-inter: Inter;
  
    /* font sizes */
    --font-size-21xl: 40px;
  
    /* Colors */
    --color-black: #000;
    --color-lightsteelblue: #98b4ca;
  }
  